# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
acr_a3/acr_a3_dubbingradio/RADIO
temp/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
*.xlsx
acr_a3/engine_calculation_Oct2-20TFSI.xlsx.part
acr_a3/acr_a3_vehicles/landrover/LR_MG.p3d